language: rust
rust:
  - stable
  - beta
  - nightly
script:
  - cargo build --verbose --all
  - cargo test --verbose --all
matrix:
  allow_failures:
    - rust: nightly
    - os: linux
os:
  - linux
  - osx
addons:
    apt:
        packages:
            - libgtk-3-0
